<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input formControlName="name" placeholder="Username" [ngClass]="{'invalid':invalidInp('name')}" /><br>
    <input type="password" formControlName="password" placeholder="Password" [ngClass]="{'invalid':invalidInp('password')}" /><br>
    <button type="submit">Login</button>
    @if (error) {
        <p>{{error}}</p>
    }
    <p style="margin-top: 20px; text-align: center;">
        Don't have an account?
        <a href="#" routerLink="/register" style="color: #007bff; text-decoration: none;">Register here</a>
    </p>
</form>